:root {
  --body-color:                         #cccccc;
  --topbar-color:                       #4a708b;
  --tabholder-color:                    #ffffff;
  --tabholder-width:                    160px;
  --tab-selected-background-color:      #e0e0e0;
  --tab-hover-background-color:         #eeeeee;
  --tab-default-color:                  #000000;
  --topbar-default-color:               #ffffff;
  --widget-border-color:                #cccccc;
  --widget-border-radius:               5px;
  --widget-border-thickness:            1px;
  --global-font:                        Helvetica;
  --global-font-size-medium:            120%;
  --global-font-size-small:             100%;
  --global-font-size-75:                75%;
  --global-font-size-90:                90%;
  --global-font-size-100:               100%;
  --global-font-size-400:               400%;
  --config-window-border-color:         #4a708b;
  --config-window-border-thickness:     7px;
  --band-title-color:                   #eeeeee;
  --band-title-background-color:        #4a708b;
  --widget-datepicker-background-color: #ffffff;
  --widget-datepicker-border-color:     #ffffff;
  --widget-datepicker-color:            #000000;
  --datepicker-background-color:        #4a708b;
  --config-window-button-color:         #ffffff;
  --config-window-button-background-color: #4a708b;
  --config-window-button-background-color-hover: #5a809b;
}

.disabled {
  color: #aaaaaa;
}

html,body {
  margin:           0px;
  width:            100%;
  margin:           0px;
  overflow-x: hidden;
  background-color: var(--body-color);
}

/*---------------------------------------------------------------------------------------------------------*/
/* Widget container information */
.hidden {
  display: none;
}
.visible {
  display: inline-block;
}
/*---------------------------------------------------------------------------------------------------------*/
.widget-container-half-half {
  border:           var(--widget-border-thickness) solid var(--widget-border-color);
  background-color: #ffffff;
  border-radius:    var(--widget-border-radius);
  padding:          10px;
  margin:           10px;
  width:            350px;
  height:           350px;
  text-align:       center;
  box-shadow:       0px 7px 7px 0px rgba(0,0,0,0.2);
}
.widget-sub-container-half-half {
  height: 300px;
}
.widget-chart-container-half-half {
  width:  300px;
  height: 280px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.widget-data-container-half-half {
  padding: 10px;
  width: 300px;
  height: 90%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
/*-------------------------------------------*/
.widget-container-full-half {
  border:           var(--widget-border-thickness) solid var(--widget-border-color);
  background-color: #ffffff;
  border-radius:    var(--widget-border-radius);
  padding:          10px;
  margin:           10px;
  width:            740px;
  height:           350px;
  text-align:       center;
  box-shadow:       0px 7px 7px 0px rgba(0,0,0,0.2);
}
.widget-sub-container-full-half {
  height: 300px;
}
.widget-chart-container-full-half {
  width:  650px;
  height: 280px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.widget-data-container-full-half {
  padding: 10px;
  width: 650px;
  height: 90%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
/*-------------------------------------------*/
.widget-container-half-full {
  border:           var(--widget-border-thickness) solid var(--widget-border-color);
  background-color: #ffffff;
  border-radius:    var(--widget-border-radius);
  padding:          10px;
  margin:           10px;
  width:            350px;
  height:           732px;
  text-align:       center;
  box-shadow:       0px 7px 7px 0px rgba(0,0,0,0.2);
}
.widget-sub-container-half-full {
  height: 690px;
}
.widget-chart-container-half-full {
  width:  300px;
  height: 670px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.widget-data-container-half-full {
  padding: 10px;
  width: 300px;
  height: 90%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
/*-------------------------------------------*/
.widget-container-full-full {
  border:           var(--widget-border-thickness) solid var(--widget-border-color);
  background-color: #ffffff;
  border-radius:    var(--widget-border-radius);
  padding:          10px;
  width:            740px;
  margin:           10px;
  height:           732px;
  text-align:       center;
  box-shadow:       0px 7px 7px 0px rgba(0,0,0,0.2);
}
.widget-sub-container-full-full {
  height: 690px;
}
.widget-chart-container-full-full {
  width:  650px;
  height: 670px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.widget-data-container-full-full {
  padding: 10px;
  width: 650px;
  height: 90%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Stuff inside the widget container */

.widget-cog-left:hover {
  opacity: 0.5;
}
.widget-cog-left {
  cursor: pointer;
  height: 24px;
  width:  24px;
  float:  left;
}
.widget-cog-right:hover {
  opacity: 0.5;
}
.widget-cog-right {
  height: 24px;
  width:  24px;
  float:  right;
}
.widget-flippy-right:hover {
  opacity: 0.5;
}
.widget-flippy-right {
  cursor: pointer;
  height: 24px;
  width:  24px;
  float:  right;
}

.single-value-contents {
  width:       100%;
  text-align:  center;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-400);
  color:       #000000;
}

.stats {
  width:   90%;
  padding: 20px;
  margin-right: 40px;
}
.stats-title {
  width:       100%;
  text-align:  center;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-medium);
  color:       #000000;
}
.stats-subtitle {
  width:       100%;
  text-align:  center;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-75);
  color:       #000000;
}
.stats-left {
  width:       55%;
  text-align:  left;
  float:       left;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-small);
  color:       #000000;
}
.stats-right {
  width:       45%;
  text-align:  right;
  float:       right;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-small);
  color:       #000000;
}

.widget-config-window {
  font-family:      var(--global-font);
  font-size:        var(--global-font-size-small);
  overflow:         auto;
  text-align:       center;
  position:         fixed;
  top:              50%;
  left:             50%;
  margin-top:       -300px;
  margin-left:      -250px;
  width:            500px;
  height:           auto;
  z-index:          1000;
  background-color: #ffffff;
  border:           var(--config-window-border-thickness) solid var(--config-window-border-color);
  border-radius:    10px;
}
.bandtitle {
  background-color: var(--band-title-background-color);
  color:            var(--band-title-color);
  font-size:        var(--global-font);
  margin-bottom:    5px;
  margin-top:       5px;
  padding-bottom:   5px;
  padding-top:      5px;
}
.bandtitle-top {
  background-color: var(--band-title-background-color);
  color:            var(--band-title-color);
  font-size:        var(--global-font);
  margin-bottom:    5px;
  margin-top:       0px;
  padding-bottom:   5px;
  padding-top:      5px;
}
.bandtitle-bottom {
  background-color: var(--band-title-background-color);
  color:            var(--band-title-color);
  font-size:        var(--global-font);
  margin-bottom:    0px;
  margin-top:       0px;
  padding-bottom:   5px;
  padding-top:      5px;
}

.bandsubtitle {
  font-weight: bold;
  border-top: 2px solid var(--band-title-background-color);
  padding-top: 5px;
}
.bandtitle-top-plus-close {
  background-color: var(--band-title-background-color);
  color:            var(--band-title-color);
  font-size:        var(--global-font);
  padding-bottom:   5px;
  padding-top:      5px;
}



.simpleborder {
  text-align:    left;
  border:        1px solid #dddddd;
  border-radius: 5px;
  padding:       5px;
  margin:        5px;
  overflow:      hidden;
}

.topbar {
  position:         fixed;
  left:             0px;
  top:              0px;
  width:            100%;
  height:           36px;
  background-color: var(--topbar-color);
  z-index:          900;
}


.tabsheet-visible {
  position:     absolute;
  left:         var(--tabholder-width);
  top:          0px;
  width:        100%;
  height:       100%;
  padding-left: 16px;
  padding-top:  48px;
  display:      inline-block;
  visibility:   visible;
}
.tabsheet-invisible {
  position:     absolute;
  left:         var(--tabholder-width);
  top:          0px;
  width:        100%;
  height:       100%;
  padding-left: 16px;
  padding-top:  48px;
  display:      inline-block;
  visibility:   hidden;
  z-index: -1000;
}
.tabholder-left {
  margin-top:       10px;
  position:         fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  left:             4px;
  top:              46px;
  bottom:           10px;
  width:            var(--tabholder-width);
  background-color: var(--tabholder-color);
  z-index:          899;
  box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius:    var(--widget-border-radius);
}

.tab-selected {
  color:                     var(--tab-default-color);
  background-color:          var(--tab-selected-background-color);
  font-family:               var(--global-font);
  font-size:                 var(--global-font-size-small);
  padding-left:              10px;
  padding-right:             10px;
  padding-top:               5px;
  padding-bottom:            5px;
  margin-top:                0px;
  margin-bottom:             0px;
  z-index:                   3;
  cursor:                    pointer;
}
.tab-unselected {
  color:                     var(--tab-default-color);
  background-color:          var(--tabholder-color);
  font-family:               var(--global-font);
  font-size:                 var(--global-font-size-small);
  padding-left:              10px;
  padding-right:             10px;
  padding-top:               5px;
  padding-bottom:            5px;
  margin-top:                0px;
  margin-bottom:             0px;
  z-index:                   3;
  cursor:                    pointer;
}
.tab-unselected:hover {
  background-color: var(--tab-hover-background-color);
}

.daterangepickerholder-small:hover {
  opacity: 0.5;
}
.daterangepickerholder-small {
  border:           1px solid var(--widget-datepicker-border-color);
  border-radius:    0px;
  background-color: var(--widget-datepicker-background-color);
  color:            var(--widget-datepicker-color);
  padding:          2px;
  float:            right;
  cursor:           pointer;
  text-align:       center;
  font-size:        var(--global-font-size-small);
  font-family:      var(--global-font);
}

.daterangepickerholder-dash:hover {
  opacity: 0.5;
}
.daterangepickerholder-dash {
  top:                     0px;
  width:                   45%;
  height:                  32px;
  line-height:             32px;
  color:                   var(--topbar-default-color);
  background-color:        var(--datepicker-background-color);
  font-family:             var(--global-font);
  font-size:               var(--global-font-size-medium);
  padding-left:            0px;
  padding-right:           10px;
  margin-top:              0px;
  padding-top:             0px;
  margin-right:            0px;
  border-top:              1px solid var(--datepicker-background-color);
  border-right:            1px solid var(--datepicker-background-color);
  border-left:             1px solid var(--datepicker-background-color);
  border-top-left-radius:  15px;
  border-top-right-radius: 15px;
  z-index:                 3;
  cursor:                  pointer;
  float:                   right;
  text-align:              right;
}

.dashboardidholder {
  top:                     0px;
  width:                   45%;
  height:                  32px;
  line-height:             32px;
  color:                   var(--topbar-default-color);
  background-color:        var(--datepicker-background-color);
  font-family:             var(--global-font);
  font-size:               var(--global-font-size-medium);
  padding-left:            10px;
  padding-right:           0px;
  margin-top:              0px;
  padding-top:             0px;
  margin-right:            0px;
  border-top:              1px solid var(--datepicker-background-color);
  border-right:            1px solid var(--datepicker-background-color);
  border-left:             1px solid var(--datepicker-background-color);
  border-top-left-radius:  15px;
  border-top-right-radius: 15px;
  z-index:                 3;
  float:                   left;
  text-align:              left;
}

.deactivating-overlay {
  position:         fixed;
  top:              0;
  left:             0;
  width:            100%;
  height:           100%;
  opacity:          0.5;
  z-index:          999;
  background-color: #555555;
}

.addwidgetdiv:hover {
  background-color: #aaaaaa;
}
.addwidgetdiv {
  cursor:           pointer;
  width:            100%;
  margin-right:     0%;
  margin-left:      0%;
  height:           64px;
  border:           1px solid #aaaaaa;
  text-align:       left;
}
.addwidgetdiv-text {
  font-family:      var(--global-font);
  font-size:        var(--global-font-size-90);
}
.addwidgetdiv-title {
  font-family:      var(--global-font);
  font-size:        var(--global-font-size-medium);
}
.addwidgetwindow {
  position:         fixed;
  top:              50%;
  left:             50%;
  margin-left:      -250px;
  margin-top:       -200px;
  width:            500px;
  height:           400px;
  z-index:          1000;
  background-color: #ffffff;
  font-family:      var(--global-font);
  font-size:        var(--global-font-size-small);
  border:           var(--config-window-border-thickness) solid var(--config-window-border-color);
  border-radius:    10px;
  text-align:       center;
}
.addwidgetwindowinner {
  position:   absolute;
  height:     350px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.addstuffbutton:hover {
  background-color: var(--tab-selected-background-color);
}
.addstuffbutton {
  color:          var(--tab-default-color);
  font-family:    var(--global-font);
  font-size:      var(--global-font-size-medium);
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    5px;
  padding-bottom: 5px;
  border:         0px;
  z-index:        10;
  cursor:         pointer;
}

.addTabWindow {
  position:         fixed;
  top:              50%;
  left:             50%;
  margin-top:       -150px;
  margin-left:      -200px;
  width:            300px;
  height:           200px;
  z-index:          1000;
  background-color: #ffffff;
  font-family:      var(--global-font);
  font-size:        var(--global-font-size-small);
  border:           var(--config-window-border-thickness) solid var(--config-window-border-color);
  border-radius:    10px;
  text-align:       center;
}
.addTabTextfield {
  font-family: var(--global-font);
  font-size:   var(--global-font-size-medium);
}


.dropbtn {
  color:                     var(--tab-default-color);
  background-color:          var(--tabholder-color);
  font-family:               var(--global-font);
  font-size:                 var(--global-font-size-medium);
  padding-left:              10px;
  padding-right:             10px;
  padding-top:               5px;
  padding-bottom:            5px;
  margin-top:                0px;
  margin-bottom:             0px;
  margin-left:               0px;
  cursor:                    pointer;
  z-index:                   4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  bottom:   10px;
  left:     0px;
  display:  inline-block;
  width:    var(--tabholder-width);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display:          none;
  background-color: var(--tabholder-color);
  position:         fixed;
  bottom:           0px;
  left:             var(--tabholder-width);
  box-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropbtn {
  background-color: var(--tab-selected-background-color);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.nice-middle {
  width:          inherit;
  height:         inherit;
  display:        table-cell;
  text-align:     center;
  vertical-align: middle;
}

.config-window-button {
  border: 1px solid var(--config-window-button-color);
  color: var(--config-window-button-color);
  background-color: var(--config-window-button-background-color);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  display: inline-block;
  font-size: var(--global-font-size-small);
}
.config-window-button:hover {
  background-color: var(--config-window-button-background-color-hover);
}

.config-window-button-plus {
  border: 1px solid var(--config-window-button-color);
  color: var(--config-window-button-color);
  background-color: var(--config-window-button-background-color);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  display: inline-block;
  font-size: var(--global-font-size-90);
}
.config-window-button-plus:hover {
  background-color: var(--config-window-button-background-color-hover);
}

.div-table {
  display:          table;
  background-color: #ffffff;
  width:            100%;
  border:           1px solid #666666;
}
.div-table-row {
  display: table-row;
  clear:   both;
}
.div-table-cell {
  display:          table-cell;
  height:           auto;
  background-color: #ffffffff;
  border:           1px solid  #666666;
}
.div-table-header {
  display:          table-cell;
  height:           auto;
  background-color: #ffffffff;
  border:           1px solid  #666666;
  font-weight:      bold;
}

/* Highcharts Overflow Fix Crap */

.highcharts-container {
  overflow: visible !important;
}

svg {
  overflow: visible;
}


.leaflet-container {
  width: 100%;
  height: 100%;
}

/* leaflet box div */
.myinfobox {
  text-align: left;
  width: 200px;
  height: 40px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  color: black;
  font-weight: bold;
  font-family: var(--global-font);
  font-size:   var(--global-font-size-small);
}

/* Fancy Select Button */
.widget-bar-holder {
  display: inline-block;  
}
.widget-options-div-selected {
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #dddddd;
  padding: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);  
}
.widget-options-div {
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #ffffff;
  padding: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);
}
.widget-options-div:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
/*--------*/
.widget-options-div-left-selected {
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #dddddd;
  padding: 2px;
  margin-left: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);
  border-top-left-radius:  5px;
  border-bottom-left-radius:  5px;
}
.widget-options-div-left {
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #ffffff;
  padding: 2px;
  margin-left: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);
  border-top-left-radius:  5px;
  border-bottom-left-radius:  5px;
}
.widget-options-div-left:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
/*--------*/
.widget-options-div-right-selected {
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #dddddd;
  padding: 2px;
  margin-right: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);
  border-top-right-radius:  5px;
  border-bottom-right-radius:  5px;
}
.widget-options-div-right {  
  display: inline-block;
  border: 2px solid #aaaaaa;
  background-color: #ffffff;
  padding: 2px;
  margin-right: 2px;
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-90);
  border-top-right-radius:  5px;
  border-bottom-right-radius:  5px;
}
.widget-options-div-right:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
/*-----*/
.widget-top-bar {
  width: 100%;
  height: 24px;
}

.widget-geospatial-title {
  font-family: var(--global-font);  
  font-size:   var(--global-font-size-100);
  padding-bottom: 5px;
}